.valore-corrente-acq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border: solid 1px black;
  margin: 1px;
  cursor: pointer;
}

.nome-prodotto-acq {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}


.monitor-quantità-prodotto-acq {
  font-size: 15px;
  font-weight: 500;
  color: #17a2b8;
  /* azzurro */
  margin: 0 6px;
}

.monitor-prezzo-prodotto-acq {
  font-size: 15px;
  font-weight: 500;
  color: #28a745;
  /* verde prezzo unitario */
  margin: 0 6px;
}

.monitor-totale-prodotto-acq {
  font-size: 18px;
  font-weight: bold;
  color: #dc3545;
  /* rosso per totale */
  margin: 0 6px;
}

.valore-corrente-acq.evidenziato {
  background-color: #ffc107;
  /* colore evidenziato */
  font-weight: bold;
  color: #000;
}