.valore-corrente-acq {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  /* nome più largo, gli altri uguali */
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nome-prodotto-acq {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
}


.monitor-quantità-prodotto-acq {
  font-size: 15px;
  font-weight: 500;
  color: #17a2b8;
}

.monitor-prezzo-prodotto-acq {
  font-size: 15px;
  font-weight: 500;
  color: #28a745;
}

.monitor-totale-prodotto-acq {
  font-size: 18px;
  font-weight: bold;
  color: #dc3545;
  /* rosso per totale */
}

.valore-corrente-acq.evidenziato {
  background-color: #ffc107;
  /* colore evidenziato */
  font-weight: bold;
  color: #000;
}