.pulsante-prodotto {
  background-color: #094b12;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  height: auto;
}

.pulsante-prodotto:hover {
  background-color: #bbdefb;
}

.pulsante-nome-prodotto {
  font-weight: 600;
  margin: 0;
}

.pulsante-ivato-prodotto {
  color: #28a745;
  margin: 0;
}