.visual-cassa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.zona-sinistra {
  display: flex;
  border: solid 1px white;
  height: 80vh;
  width: 63vw;
  float: left;
}

.zona-destra {
  display: flex;
  border: solid 1px white;
  height: 80vh;
  width: 37vw;
  float: right;
  flex-direction: column;

}

.monitor-cassa {
  background-color: yellow;
  width: 100%;
  height: 30%;
  color: black;
  display: flex;
  flex-direction: row;
}

.contenitore-pulsanti {
  background-color: rgb(39, 39, 5);
  width: 100%;
  height: 70%;
}



.puls-categorie {}

.puls-prodotti {}